<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<title>Accueil</title>
	<meta charset="utf-8" />
</head>
<body>
	<div ng-app="Login" ng-controller="controller" class="col-lg-3">
		<p> Authentification</p>
		<form name="registerForm" action="/register" method="post">
			<input type="text" name="firstname" ng-model="firstname"><span ng-show="!firstname"> *Un prénom est recquis</span></br>
			<input type="text" name="lastname" ng-model="lastname"><span ng-show="!lastname"> *Un nom est recquis</span></br>
			<input type="email" name="usermail" ng-model="usermail"><span ng-show="!validEmail(usermail)"> *Un email valide est recquis</span></br>
			<input type="tel" name="userphone" ng-model="userphone"><span ng-show="!validPhoneNumber(userphone)"> *Un numéro de téléphone valide est recquis</span></br>
			<input type="text" name="userbirthdate" ng-model="userbirthdate"><span ng-show="!validBirth(userbirthdate)"> *Une date au format dd-mm-aaaa est requise</span></br>
			<input type="text" name="userpostal" ng-model="userpostal"><span ng-show="!validPostalCode(userpostal)"> *Un code postal français valide est recquis.</span></br>
			<span>Sexe : </span>
			<input type="radio" name="gender" value="female" checked> Female
			<input type="radio" name="gender" value="male"> Male
		</br>
			<input type="submit" ng-disabled="!firstname || !lastname || !validPhoneNumber(userphone) || !validEmail(usermail) || !validBirth(userbirthdate) || !validPostalCode(userpostal)" class="pull-right" value="S' enregistrer"></input>
		</form>
	</div>
</body>
<script>
	$("#codeInput").hide();
	var app = angular.module("Login",[]);
	app.controller("controller",function($scope,$http){

		$scope.validPhoneNumber = function(phoneNumber)
		{
			return /^\d{10}$/.test(phoneNumber);
		}

		$scope.validEmail = function(emailAddress)
		{
			return /^[a-z0-9._-]+@[a-z0-9_-]+\.\w{2,6}$/.test(emailAddress);
		}

		$scope.validBirth = function(birthDate)
		{
			return /^\d{2}-\d{2}-\d{4}$/.test(birthDate);
		}

		$scope.validPostalCode = function(postalCode)
		{
			return /^\d{5}$/.test(postalCode);
		}

		$scope.validCode = function(code)
		{
			return /^\d{6}$/.test(code);
		}

		$scope.phoneFound = function(submittedPhone){
			$.ajax({url: "/verifyPhoneAndCreateCode",data: {phone:submittedPhone}, success: function(result){
		        if(result == "found")
		        {
		        	$("#codeInput").show();
		        }
		    }});
		}

		$scope.submitConnectionForm = function()
		{
			document.getElementById("connectionForm").submit();;
		}
	});
</script>
</html>