<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<title>Connexion</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<meta charset="utf-8" />
	<style>
	body {
		font-family : 'Roboto';
	}

	.modal
	{
		display: none;
		position: fixed;
		z-index: 2;
		padding-top: 100px;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.9);
	}

	.modal-content {
		margin: auto;
		display: block;
		width: 95%;
		max-width: 700px;
	}

	.loading {    
	    background-color: #ffffff;
	    background-image: url("images/loader.gif");
	    background-size: 25px 25px;
	    background-position:right center;
	    background-repeat: no-repeat;
	}

	.ok {
		background-color: #ffffff;
	    background-image: url("images/ok.png");
	    background-size: 25px 25px;
	    background-position:right center;
	    background-repeat: no-repeat;
	}

	#weverBaseline
    {
    	margin-top:10px;
    	width:193px;
    	height:auto;
    	display:inline-block;
    }
    #sinscrire
    {
    	margin-top:22px;
    	width:154px;
    	height:auto;
    	display:inline-block;
    	float:right;
    }

	/* Nouvelles règles si la fenêtre fait au plus 376px de large */
	@media all and (max-width: 376px)
	{
	    #weverBaselineImage
	    {
	    	width : 150px;
	    	height : auto;
	    }
	    #weverBaseline
	    {
	    	width : 150px;
	    	height : auto;
	    }
	    #weverSinscrireImage
	    {
	    	float:none;
	    	width : 110px;
	    	height : auto;
	    }
	    #sinscrire
	    {
	    	width : 110px;
	    	height : auto;
	    }
	    #validatePhone
	    {
	    	margin-right : 0px;
	    }
	    #phoneSpan
	    {
	    	display : none;
	    }
	    #codeInputSpan
	    {
	    	display : none;
	    }
	}
	</style>
</head>
<body>
	<div class="col-lg-12 col-md-12" style="height:92px;background-color:#ECECEC">
		<div id="weverBaseline">
			<img id="weverBaselineImage" src="images/weverBaseline.png" />
		</div>
		<div id="sinscrire">
			<a href="/?process=register"> <img id="weverSinscrireImage" src="images/register.svg" /> </a>
		</div>
	</div>
	<div class="col-lg-12 col-md-12" style="font-size:36px;color:#373737;height:auto;text-align:center;margin-top:20px;">Connectez-vous à votre compte</div>
	<div class="col-lg-offset-4 col-md-offset-3 col-sm-offset-3 col-xs-offset-1 col-lg-6 col-md-6 col-sm-6 col-xs-10">
		<div class="col-lg-offset-1 col-lg-6 col-md-12 col-sm-12 col-xs-12" style="height:213px;background-color:#00C9FF;margin-top:20px;border-top-left-radius: 21.25px;border-top-right-radius: 21.25px">
			<img src="images/W.svg" style="display:block;margin:auto;margin-top:40px;"/>
		</div>

		<div class="col-lg-offset-1 col-lg-6 col-md-12 col-sm-12 col-xs-12" ng-app="Connection" ng-controller="controller" style="height:266px;background-color:#ECECEC;border-bottom-left-radius: 21.25px;border-bottom-right-radius: 21.25px">
			<form id="connectionForm" name="connectionForm" action="/connection" method="post">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div id="phone" class="input-group" style="margin:auto;margin-top:10px;text-align:center;">
						<span id="phoneSpan" class="input-group-addon" style="width:10px;background-color:#F5F8F9;margin-right:0px;">
							<img src="images/profile.png" height="20" width="20" />
						</span>
						<input type="tel" id="tel" class="form-control" placeholder="Numéro de téléphone" name="connectionUserphone" ng-model="connectionUserphone" ng-change="phoneValidity(connectionUserphone)" autofocus>
					</div>
				</div>
				
				<div id="codeInput">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:38px;">
						<div class="input-group" style="margin:auto;text-align:center;">
							<span id="codeInputSpan" class="input-group-addon" style="width:10px;background-color:#F5F8F9">
								<img src="images/code.svg" height="20" width="20" />
							</span>
							<input type="tel" id="code" class="form-control" placeholder="Saisir le code reçu par SMS" name="connectionCode" ng-model="connectionCode" ng-change="submitCredentials()">
						</div>
					</div>
				</div>

				<div id="reSentCode" style="margin-top:38px;text-align:center;">
					Renvoyez le code.
				</div>

				<div id="problem" class="pull-right" style="margin-top:38px;margin-right:10px;margin-bottom:10px;font-size:14px;color:#00C6FD">
					Un problème ?
				</div>

			</form>
		</div>
	</div>
	
	<div class="col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:15px;font-size:16px;color:#00C6FD;text-align:center;">
		<a href="/?process=register" style="text-decoration:none">Créer un compte.</a>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-top:1px solid #ECECEC;margin-top:21px;">
		<div style="display:inline-block;width:139px;height:auto;">
			<img src="images/wever.svg" height="40" />
		</div>

		<div style="display:inline-block;margin-right:20px;vertical-align:bottom;">
			<a href="#" onclick="showCGU(event)" style="color:black;">Confidentialité et conditions d'utilisation.</a>
		</div>

		<div style="display:none;margin-right:20px;vertical-align:bottom;">
			<a href="#">Aide</a>
		</div>
	</div>

	<div class="modal" onclick="removeCGU()">
		<div class="modal-content">
			<iframe src="http://wever.fr/inc/wever-cgu.html" width="100%" height="500px">
  				<p>Your browser does not support iframes.</p>
			</iframe>
		</div>
	</div>

	</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$("#codeInput").css("visibility","hidden");
	$("#reSentCode").css("visibility","hidden");
	$("#problem").css("visibility","hidden");
	var app = angular.module("Connection",[]);
	app.controller("controller",function($scope){

		$scope.test = function(event,connectionUserphone) {
			console.log(event.keyCode);
			console.log(connectionUserphone);
		}

		$scope.validPhoneNumber = function(phoneNumber)
		{
			var result = /^\d{10}$/.test(phoneNumber);
			if(!result)
			{
				$("#tel").removeClass("ok");
				$("#tel").css("border","pink 3px solid");
				$("#codeInput").css("visibility","hidden");
			}
			else
			{
				$("#tel").css("border","#3ADF00 1.5px solid");
			}
			return result;
		}

		$scope.validCode = function(code)
		{
			var result = /^\d{6}$/.test(code);
			console.log(result);
			if(!result)
			{
				$("#code").css("border","pink 3px solid");
			}
			else
			{
				$("#code").css("border","#3ADF00 1.5px solid");
			}
			return result;
		}

		$scope.phoneValidity = function(submittedPhone)
		{
			if($scope.validPhoneNumber(submittedPhone))
			{
				$("#tel").addClass("loading");
				setTimeout(function(){
					$.ajax({url: "/verifyPhoneAndCreateCode",data: {phone:submittedPhone}, success: function(result){
						$("#tel").removeClass("loading");
				        if(result == "found")
				        {
				        	if($scope.validPhoneNumber($scope.connectionUserphone))
				        	{
				        		$("#tel").addClass("ok");
				        		$("#codeInput").css("visibility","visible");
				        	}
				        }
				        else if(result == "unknown")
				        {
				        	$("#codeInput").css("visibility","hidden");
				        }
			    	}});
				}, 3000);
			}
		}

		$scope.phoneFound = function(event,submittedPhone){
			if(event.keyCode == 13)
			{
				$scope.phoneValidity(submittedPhone);
			}
		}

		$scope.submitCredentials = function()
		{
			if($scope.validCode($scope.connectionCode) && $scope.validPhoneNumber($scope.connectionUserphone))
			{
				$.ajax({url: "/verifyCode",data: {"phone":$scope.connectionUserphone,"code":$scope.connectionCode}, success: function(result){
					if(result == "1")
					{
						document.getElementById("connectionForm").submit();
					}
					else if(result == "0")
					{
						$("#code").css("border","pink 3px solid");
						alert("Le code saisi est erroné !");
					}
				}});
			}
		}
	});

	function showCGU(event)
	{
		event.preventDefault();
		document.querySelector(".modal").style.display = "block";
	}

	function removeCGU()
	{
		document.querySelector(".modal").style.display = "none";
	}

</script>
</html>