<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<title>Diag Demo</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8" />
</head>
<body>
	<a href="/disconnect" class="btn btn-primary pull-right">Déconnexion</a>
	<div style="margin-top:20px;margin-bottom:2àpx;">
		<h1>Bienvenue <%= user.lastname %> <%= user.firstname %> !!</h1>
		<p>
			<ul>
				Vos informations personnelles sont les suivantes:</br></br>
				<li>Nom : <%= user.lastname%> </li>
				<li>Prénom : <%= user.firstname %> </li>
				<li>Code postal : <%= user.postalcode %></li>
				<li>Téléphone : <%= user.phone %></li>
				<li>Genre : <%= user.gender %></li>
				<li>Date de naissance : <%= user.birth %></li></br>
			<ul>
		</p>
	</div>
	<div ng-app="diagsDemo">
		<%
			if(admin)
			{
		%>
		<div class="col-lg-12" style="border-bottom:1px solid gray; padding-bottom:10px;">
			<h3 style="text-align:center;">Créer une valeur de critère de type discrete possible</h3>
			
			<form class="form-inline pull-left" action="/createPossDiscCritVal" method="post">
		        <input type="text" class="form-control" name="valCrit" placeholder="Insérer valeur">
		        <input type="submit" class="btn btn-primary pull-right" value="CREER">
			</form>

			<div class="row col-lg-12" style="margin-top:15px;">

				<%
			    for(criteriaAdmissibleValueId in allCriteriaAdmissibleValues) {
			    %>
			    	<%
			    		if(allCriteriaAdmissibleValues[criteriaAdmissibleValueId] != null)
			    		{
			    	%>
						    <div class="btn-group">
								<a class="btn btn-primary" onclick="selectPossCrit(<%= allCriteriaAdmissibleValues[criteriaAdmissibleValueId].id %>)"><%= allCriteriaAdmissibleValues[criteriaAdmissibleValueId].id %>. <%= allCriteriaAdmissibleValues[criteriaAdmissibleValueId].value %></a>
						        <a class="btn btn-danger" href="/deletePossDiscCritVal/<%= allCriteriaAdmissibleValues[criteriaAdmissibleValueId].id %>">✘</a>
				    		</div>
		    		<%
		    			}
		    		%>

				<% } %>

			</div>

		</div>

		<div class="col-lg-12">
			<h3 style="text-align:center;">Créer un critère</h3>
			<form class="form-inline" action="/createCrit" method="post">
				<div class="col-lg-3">
					Type:
					<select name="type">
					  <option value="1">unimodal</option>
					  <option value="2">diumodal</option>
					</select>
				</div>
				<div class="col-lg-3">
					Nom : <input type=text  name="name"/>
				</div>
				<div class="col-lg-3">
					Type de valeur:
					<select ng-model="valueType" name="valueType" ng-init="valueType='discrete'">
					  <option value='discrete' ng-selected="1">Discrètes</option>
					  <option value='rated'>Continues</option>
					</select>
				</div>
				<div class="col-lg-3">
					<div class="col-lg-12" ng-if="valueType == 'discrete'">
						<div class="col-lg-6" style="text-align:center;">Valeurs admissibles:</div>
						<div class="col-lg-6">
							<input type=text  name="admissibleValues" id="admissibleValues"/>
						</div>
					</div>
				</div>
				<input type="submit" class="btn btn-primary pull-right" value="CREER">
			</form>
		</div>
		<div class="col-lg-12" style="border-bottom:1px solid gray; padding-bottom:10px;">
			<table class="table table-striped">
				<thead>
				  <tr>
				  	<th>Id</th>
				    <th>Type</th>
				    <th>Nom</th>
				    <th>Type de valeur</th>
				    <th>Valeur</th>
				    <th></th>
				  </tr>
				</thead>
				<tbody>
				  	<%
				    for(criterionId in allCriteria) {
				    %>
			    	<%
			    		if(allCriteria[criterionId] != null)
			    		{
			    	%>
			    			<tr>
						    <td><%= allCriteria[criterionId].id %></td>
						    <td><%= allCriteria[criterionId].criterionType %></td>
						    <td><%= allCriteria[criterionId].criterionName %></td>
						    <td><%= allCriteria[criterionId].criterionValueType %></td>
						    <td><%= allCriteria[criterionId]. criterionAdmissibleValues %></td>
						    <td><a href="/deleteCrit/<%= allCriteria[criterionId].criterionName %>" style="text-decoration:none;color:black;">✘</a></td>
						    </tr>
		    		<%
		    			}
		    		%>

				<% } %>
				</tbody>
			 </table>
		</div>
	</div>

	<%
		}
	%>


	<div class="col-lg-12">
		<h1 style="text-align:center;margin-top:10px;margin-bottom:10px;">Diagnostic</h1>
		<div class="col-lg-6" style="text-align:center;margin-top:10px;">
			<h3 style="text-align:center;">Depart</h3>
			Latitude :  &nbsp;&nbsp;&nbsp;<input id="lat1" type="text" value="43.6266823"/></br>
			Longitude : <input id="lon1" type="text" value="6.9941356"/>
		</div>
		<div class="col-lg-6" style="text-align:center;margin-top:10px;">
			<h3 style="text-align:center;">Arrivee</h3>
			Latitude :  &nbsp;&nbsp;&nbsp;<input id="lat2" type="text" value="43.5822762"/></br>
			Longitude : <input id="lon2" type="text" value="7.0698281"/>
		</div>
	</div>

	<div class="col-lg-12" style="margin-top:40px;margin-bottom:200px;">
		<div class="col-lg-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Départ</h3>
			  </div>
			  <div class="panel-body">
			  	<%
			    for(criterionId in allCriteria) {
			    %>
			    		<%
		    		if(allCriteria[criterionId] != null)
		    		{
			    		%>
			    	<%
			    		if(allCriteria[criterionId].criterionType == '1')
			    		{
			    	%>
					    	<div class="col-lg-6">
					    		<%
						    		if(allCriteria[criterionId].criterionValueType == 'discrete')
						    		{
						    	%>
						    			<%
								    		if(allCriteria[criterionId].criterionAdmissibleValues == '')
								    		{
								    	%>
					    						<a onclick="markCritRegistration('2','<%= allCriteria[criterionId].criterionName %>')" class="btn btn-success btn-lg" data-toggle="button" ><%= allCriteria[criterionId].criterionName %></a>
					    				<%
								    		}
								    		else
								    		{
								    			%>

								    			<p><%= allCriteria[criterionId].criterionName %></p>
								    			<div class="btn-group"> 
												  <button id="<%= allCriteria[criterionId].criterionName %>2" class="btn btn-info">Sans avis</button>
												  <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
												  <ul class="dropdown-menu">
												    <li class="dropdown-header">Sans avis</li>
												    	<li><a href="#">Sans avis</a></li>
												    <li class="divider"></li>
												    <li class="dropdown-header">Votre avis</li>
								    			<%
								    			var criterionAdmissibleValues = allCriteria[criterionId].criterionAdmissibleValues.split(',');
								    			for(var i=0; i < criterionAdmissibleValues.length; i++)
								    			{
								    			%>
								    				<li><a href="#" onclick="choicesCritRegistration(2,'<%= allCriteria[criterionId].criterionName %>',<%= criterionAdmissibleValues[i] %>,'<%= allCriteriaAdmissibleValues[criterionAdmissibleValues[i]].value %>',event)" ><span class="glyphicon glyphicon-book"></span> <%= allCriteriaAdmissibleValues[criterionAdmissibleValues[i]].value %></a></li>
								    			<%
								    			}
								    			%>
								    				</ul>
												</div>
								    			<%
								    		}
								    	%>
					    		<%
						    		}
						    		else if(allCriteria[criterionId].criterionValueType == 'rated')
						    		{
						    			%>
						    			<p>  <%= allCriteria[criterionId].criterionName %> </p>
						    			<input type="text" />
						    			<%
						    		}
						    	%>
					    	</div>
			    	<%
			    		}
			    	%>
			    	<%
		    		}
		    		%>
			    <%
	    		}
	    		%>
			  </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Trajet</h3>
			  </div>
			  <div class="panel-body">
			  		<%
			    for(criterionId in allCriteria) {
			    %>
			    		<%
		    		if(allCriteria[criterionId] != null)
		    		{
			    		%>
			    	<%
			    		if(allCriteria[criterionId].criterionType == '2')
			    		{
			    	%>
					    	<div class="col-lg-6"  style="margin-bottom:20px;">
					    		<%
						    		if(allCriteria[criterionId].criterionValueType == 'discrete')
						    		{
						    	%>
						    			<%
								    		if(allCriteria[criterionId].criterionAdmissibleValues == '')
								    		{
								    	%>
					    						<a onclick="markCritRegistration('3','<%= allCriteria[criterionId].criterionName %>')" class="btn btn-success" data-toggle="button" ><%= allCriteria[criterionId].criterionName %></a>
					    				<%
								    		}
								    		else
								    		{
								    			%>

								    			<p><%= allCriteria[criterionId].criterionName %></p>
								    			<div class="btn-group"> 
												  <button id="<%= allCriteria[criterionId].criterionName %>3" class="btn btn-info">Sans avis</button>
												  <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
												  <ul class="dropdown-menu">
												    <li class="dropdown-header">Sans avis</li>
												    	<li><a href="#">Sans avis</a></li>
												    <li class="divider"></li>
												    <li class="dropdown-header">Votre avis</li>
								    			<%
								    			var criterionAdmissibleValues = allCriteria[criterionId].criterionAdmissibleValues.split(',');
								    			for(var i=0; i < criterionAdmissibleValues.length; i++)
								    			{
								    			%>
								    				<li><a href="#" onclick="choicesCritRegistration(3,'<%= allCriteria[criterionId].criterionName %>',<%= criterionAdmissibleValues[i] %>,'<%= allCriteriaAdmissibleValues[criterionAdmissibleValues[i]].value %>',event)" ><span class="glyphicon glyphicon-book"></span> <%= allCriteriaAdmissibleValues[criterionAdmissibleValues[i]].value %></a></li>
								    			<%
								    			}
								    			%>
								    				</ul>
												</div>
								    			<%
								    		}
								    	%>
					    		<%
						    		}
						    		else if(allCriteria[criterionId].criterionValueType == 'rated')
						    		{
						    			%>
						    			<p>  <%= allCriteria[criterionId].criterionName %> </p>
						    			<input type="text" />
						    			<%
						    		}
						    	%>
					    	</div>
			    	<%
			    		}
			    	%>
			    	<%
		    		}
		    		%>
			    <%
	    		}
	    		%>
			  </div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Arrivée</h3>
			  </div>
			  <div class="panel-body">
			  	<%
			    for(criterionId in allCriteria) {
			    %>
			    		<%
		    		if(allCriteria[criterionId] != null)
		    		{
			    		%>
			    	<%
			    		if(allCriteria[criterionId].criterionType == '1')
			    		{
			    	%>

					    	<div class="col-lg-6">
					    		<%
						    		if(allCriteria[criterionId].criterionValueType == 'discrete')
						    		{
						    	%>
						    			<%
								    		if(allCriteria[criterionId].criterionAdmissibleValues == '')
								    		{
								    	%>
					    						<a onclick="markCritRegistration('1','<%= allCriteria[criterionId].criterionName %>')" class="btn btn-success btn-lg" data-toggle="button"><%= allCriteria[criterionId].criterionName %></a>
					    				<%
								    		}
								    		else
								    		{
								    			%>

								    			<p><%= allCriteria[criterionId].criterionName %></p>
								    			<div class="btn-group"> 
												  <button  id='<%= allCriteria[criterionId].criterionName %>1' class="btn btn-info">Sans avis</button>
												  <button class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
												  <ul class="dropdown-menu">
												    <li class="dropdown-header">Sans avis</li>
												    	<li><a href="#">Sans avis</a></li>
												    <li class="divider"></li>
												    <li class="dropdown-header">Votre avis</li>
								    			<%
								    			var criterionAdmissibleValues = allCriteria[criterionId].criterionAdmissibleValues.split(',');
								    			for(var i=0; i < criterionAdmissibleValues.length; i++)
								    			{
								    			%>
								    				<li><a href="#" onclick="choicesCritRegistration(1,'<%= allCriteria[criterionId].criterionName %>',<%= criterionAdmissibleValues[i] %>,'<%= allCriteriaAdmissibleValues[criterionAdmissibleValues[i]].value %>',event)" ><span class="glyphicon glyphicon-book"></span> <%= allCriteriaAdmissibleValues[criterionAdmissibleValues[i]].value %></a></li>
								    			<%
								    			}
								    			%>
								    				</ul>
												</div>
								    			<%
								    		}
								    	%>
					    		<%
						    		}
						    		else if(allCriteria[criterionId].criterionValueType == 'rated')
						    		{
						    			%>
						    			<p>  <%= allCriteria[criterionId].criterionName %> </p>
						    			<input type="text" />
						    			<%
						    		}
						    	%>
					    	</div>
			    	<%
			    		}
			    	%>
			    	<%
		    		}
		    		%>
			    <%
	    		}
	    		%>
			  </div>
			</div>
		</div>
		<div class="col-lg-12" style="text-align:center;margin-top:10px;margin-bottom:40px;">
			<a href="#" onclick="submitDiagnostic(event)" class="btn btn-primary">Soumettre le diagnostique</a>
		</div>
		<div id="relatedInfos" class="col-lg-12" hidden>
			<div class="col-lg-12"style="margin-top:10px;margin-bottom:10px;">
				<div class="col-lg-2">
					<span style="text-align:center;">Utilisateurs ayant renseigné les mêmes critères que vous dans un rayon de </span>
				</div>
				<div class="col-lg-2">
					<input type="range" class="form-control" min="0" max="20"/>
				</div class="col-lg-2">
				<div>
					kilomètres
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Critères Depart</h3>
				  </div>
				  <div id="departureInfos" class="panel-body">

				  </div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Critères Trajet</h3>
				  </div>
				  <div id="tripInfos" class="panel-body">

				  </div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Critères Arrivée</h3>
				  </div>
				  <div id="arrivalInfos" class="panel-body">

				  </div>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>

	var criteria = {};

	var userCriteriaDeparture = {};
	var userCriteriaTrip = {};
	var userCriteriaArrival = {};

	var nearDeparture = {};
	var nearTrip = {};
	var nearArrival = {};

	<%
    for(criterionId in allCriteria) {
	    if(allCriteria[criterionId] != null)
	    {
    %>
    		criteria['<%= allCriteria[criterionId].criterionName %>'] = {"id":'<%= criterionId %>',"type":'<%= allCriteria[criterionId].criterionType %>',
    		"name":'<%= allCriteria[criterionId].criterionName %>',"valueType":'<%= allCriteria[criterionId].criterionValueType %>',
    		"admissibleValues":'<%= allCriteria[criterionId].criterionAdmissibleValues %>'} ;
	    	userCriteriaDeparture['<%= allCriteria[criterionId].criterionName %>'] = {"id":'<%= criterionId %>',"value":"0"} ;
	    	userCriteriaTrip['<%= allCriteria[criterionId].criterionName %>'] = {"id":'<%= criterionId %>',"value":"0"} ;
	    	userCriteriaArrival['<%= allCriteria[criterionId].criterionName %>'] = {"id":'<%= criterionId %>',"value":"0"} ;
    <%
		}
	}
    %>

	var app = angular.module("diagsDemo",[]);
	app.controller("controller",function($scope){

	});

	function selectPossCrit(id)
	{
		var admissibleValues = document.getElementById("admissibleValues");
		if(admissibleValues.value.length > 0)
		{
			admissibleValues.value = admissibleValues.value + "," + id;
		}
		else
		{
			admissibleValues.value = admissibleValues.value + id;
		}
	}

	function submitDiagnostic(event)
	{
		event.preventDefault();

		var diagDeparture = {"lat1" : $("#lat1").val(),"lon1" : $("#lon1").val(),"lat2" : 181,"lon2" : 181,"criteria" : userCriteriaDeparture};
		var diagTrip = {"lat1" : $("#lat1").val(),"lon1" : $("#lon1").val(),"lat2" : $("#lat2").val(),"lon2" : $("#lon2").val(),"criteria" : userCriteriaTrip};
		var diagArrival = {"lat1" : 181,"lon1" : 181,"lat2" : $("#lat2").val(),"lon2" : $("#lon2").val(),"criteria" : userCriteriaArrival};

		$.ajax({
		    url: "/createDiag",
		    type: "GET",
		    data: "diagDeparture="+JSON.stringify(diagDeparture)+"&diagTrip="+JSON.stringify(diagTrip)+"&diagArrival="+JSON.stringify(diagArrival),
		    contentType: "html",
		    success : displayDiagInfos
		});
	}

	function displayDiagInfos(result)
	{
		if(result == 'received')
		{
			$("#relatedInfos").show();
			$.ajax({
			    url: "/nearPoints",
			    type: "GET",
			    data: 'lat='+$("#lat1").val()+'&lon='+$("#lon1").val(),
			    contentType: "html",
			    success : function(matchingPoints){
			    	nearDeparture = JSON.parse(matchingPoints);
			    	for(criterion in userCriteriaDeparture)
			    	{
			    		if(criteria[criterion]["type"] == 1)
			    		{
			    			getRelatedLocalDiagsNumber(criterion,2);
			    		}
			    	}
			    }
			});

			$.ajax({
			    url: "/nearTrips",
			    type: "GET",
			    data: 'latDeparture='+$("#lat1").val()+'&lonDeparture='+$("#lon1").val()+'&latArrival='+$("#lat2").val()+'&lonArrival='+$("#lon2").val(),
			    contentType: "html",
			    success : function(matchingPoints){
			    	nearTrip = JSON.parse(matchingPoints);
			    	console.log(nearTrip);
			    	for(criterion in userCriteriaTrip)
			    	{
			    		if(criteria[criterion]["type"] == 2)
			    		{
			    			getRelatedTripDiagsNumber(criterion);
			    		}
			    	}
			    }
			});

			$.ajax({
			    url: "/nearPoints",
			    type: "GET",
			    data: 'lat='+$("#lat2").val()+'&lon='+$("#lon2").val(),
			    contentType: "html",
			    success : function(matchingPoints){
			    	nearArrival = JSON.parse(matchingPoints);
			    	for(criterion in userCriteriaArrival)
			    	{
			    		if(criteria[criterion]["type"] == 1)
			    		{
				    		getRelatedLocalDiagsNumber(criterion,1);
			    		}
			    	}
			    }
			});
		}
	}

	function getRelatedLocalDiagsNumber(unimodalCriterion,P)
	{
		if(P == 1)
		{
			var cpt = 0;
			for(id in nearArrival)
			{
				if( parseInt(getP(nearArrival[id][diumodalCriterion])) > 0 &&  parseInt(getP(userCriteriaArrival[diumodalCriterion].value)) )
				{
					if(getAdmissibleValue(nearArrival[id][unimodalCriterion]) == getAdmissibleValue(userCriteriaArrival[unimodalCriterion].value))
					{
						// Vérifier ici que le phoneUser du diagnostique n'est pas le phoneUser du user a qui on doit présenter les infos;
						// Si oui ne pas faire évoluer le compteur. Si non l'incrémenter.
						if(nearArrival[id]["phoneUser"] != "<%= user.phone %>")
						{
							cpt++;
						}
					}
				}
			}
			$("#arrivalInfos").append(unimodalCriterion + ' : ' +cpt+' personnes</br>');
		}
		else if(P == 2)
		{
			var cpt = 0;
			for(id in nearDeparture)
			{
				if( parseInt(getP(nearDeparture[id][diumodalCriterion])) > 0 &&  parseInt(getP(userCriteriaDeparture[diumodalCriterion].value)) )
				{
					if(getAdmissibleValue(nearDeparture[id][unimodalCriterion]) == getAdmissibleValue(userCriteriaDeparture[unimodalCriterion].value))
					{
						// Vérifier ici que le phoneUser du diagnostique n'est pas le phoneUser du user a qui on doit présenter les infos;
						// Si oui ne pas faire évoluer le compteur. Si non l'incrémenter.
						if(nearDeparture[id]["phoneUser"] != "<%= user.phone %>")
						{
							cpt++;
						}
					}
				}
			}
			$("#departureInfos").append(unimodalCriterion + ' : ' +cpt+' personnes</br>');
		}
	}

	function getRelatedTripDiagsNumber(diumodalCriterion)
	{
		var cpt = 0;
		for(id in nearTrip)
		{
			if(getP(nearTrip[id][diumodalCriterion]) ==  getP(userCriteriaTrip[diumodalCriterion].value))
			{
				if( getAdmissibleValue(nearTrip[id][diumodalCriterion]) == getAdmissibleValue(userCriteriaTrip[diumodalCriterion].value) )
				{
					// Vérifier ici que l'idUser du diagnostique n'est pas l'idUser du user a qui on doit présenter les infos;
					// Si oui ne pas faire évoluer le compteur. Si non l'incrémenter.
					if(nearTrip[id]["phoneUser"] != "<%= user.phone %>")
					{
						cpt++;
					}
				}
			}
		}
		$("#tripInfos").append(diumodalCriterion + ' : ' +cpt+' personnes</br>');
	}

	function getP(criterionValue)
	{
		var criterionValueComponents = criterionValue.split(':');
		return criterionValueComponents[0];
	}

	function getAdmissibleValue(criterionValue)
	{
		var criterionValueComponents = criterionValue.split(':');
		if(criterionValueComponents.length == 1) return '';
		if(criterionValueComponents.length == 2) return criterionValueComponents[1];
	}

	function markCritRegistration(P,name)
	{
		if(P == 2)
		{
			userCriteriaDeparture[name].value = P;
		}
		else if(P == 3)
		{
			userCriteriaTrip[name].value = P;
		}
		else if(P == 1)
		{
			userCriteriaArrival[name].value = P;
		}
	}

	function choicesCritRegistration(P,name,selectedValId,selectedValName,event)
	{
		event.preventDefault();

		if(P == 2)
		{
			userCriteriaDeparture[name].value = P + ':' + selectedValId;
		}
		else if(P == 3)
		{
			userCriteriaTrip[name].value = P + ':' + selectedValId;
		}
		else if(P == 1)
		{
			userCriteriaArrival[name].value = P + ':' + selectedValId;
		}

		document.getElementById(name+P).innerHTML = selectedValName;
	}

	// On n'implémente pas encore cette fonction pour l' instant
	function ratedCritRegistration(P,name,val)
	{
		
	}

</script>
</html>
