<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.js'></script>
	<title>Accueil</title>
	<link href='https://api.mapbox.com/mapbox-gl-js/v0.36.0/mapbox-gl.css' rel='stylesheet' />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<meta charset="utf-8" />
	<style>
	body {
		font-family : 'Roboto';
	}
	input.ng-invalid {
		border : pink 3px solid;
	}

	#weverBaseline
    {
    	margin-top:10px;
    	width:193px;
    	height:auto;
    	display:inline-block;
    }

    #seDeconnecter
    {
    	margin-top:22px;
    	width:154px;
    	height:auto;
    	display:inline-block;
    	float:right;
    }

	#weverPanel
    {
    	height:543px;
    	background-color:#56E355;
    	margin-top:20px;
    	border-top-left-radius: 21.25px;
    	border-bottom-left-radius: 21.25px;
    }

    #weverDiagContent
    {
    	height:543px;
		background-color:#ECECEC;
		margin-top:20px;
		border-bottom-right-radius: 21.25px;
		border-top-right-radius: 21.25px;
    }

    #W
	{
		display:block;
		margin:auto;
		margin-top:100px;
	}

	#weverPanelText
	{
		text-align:center;
		margin-top:90px;
	}

	#container
	{
		height:543px;
		background-color:#ECECEC;
		margin-top:20px;
		border-bottom-right-radius: 21.25px;
		border-top-right-radius: 21.25px;
	}

	#container1
	{
		height:543px;
		background-color:#ECECEC;
		margin-top:20px;
		border-bottom-right-radius: 21.25px;
		border-top-right-radius: 21.25px;
	}

	#container2
	{
		height:543px;
		background-color:#ECECEC;
		margin-top:20px;
		border-bottom-right-radius: 21.25px;
		border-top-right-radius: 21.25px;
	}

	#infos
	{
		height:543px;
		background-color:#ECECEC;
		margin-top:20px;
		border-bottom-right-radius: 21.25px;
		border-top-right-radius: 21.25px;
	}

	/* The switch - the box around the slider */
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 60px;
	  height: 34px;
	}

	/* Hide default HTML checkbox */
	.switch input {display:none;}

	/* The slider */
	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: 26px;
	  width: 26px;
	  left: 4px;
	  bottom: 4px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}

	#transportModesText
	{
		display:inline-block;
		text-align:center;
		margin-right:35px;
	}

	.day
	{
		border-radius : 26px;
		-webkit-flex: 1; /* Safari 6.1+ */
		-ms-flex: 1; /* IE 10 */ 
		flex: 1;
		text-align : center;
		margin-right : -18px;
	}
	.day span
	{
		z-index : 20;
	}

	.recurrency
	{
		display: -webkit-flex; /* Safari */
		display: flex;
		background-color : #ECECEC;
		height : 25px;
	}

	/* Nouvelles règles si la fenêtre fait au plus 1412px de large et au moins 1200px */
	@media all and (min-width: 768px) and (max-width: 808px)
	{
		#transportModesText
		{
			display:inline-block;
			text-align:center;
			margin-right:5px;
		}
	}

	/* Nouvelles règles si la fenêtre fait au plus 1412px de large et au moins 1200px */
	@media all and (min-width: 1200px) and (max-width: 1412px)
	{

	    #noneRadioContainer
	    {
	    	margin-left : 76px;
	    }

	    #weverPanel
    	{
    		height : 625px;
    	}

    	#weverDiagContent
    	{
    		height : 625px;
    	}

    	#W
    	{
    		margin-top : 120px;
    	}

    	#weverPanelText
    	{
    		margin-top : 100px;
    	}
	}

	/* Nouvelles règles si la fenêtre fait au plus 991px de large */
	@media all and (max-width: 767px)
	{
		#weverPanel
    	{
			display : none;
		}
		.diagPanel
		{
			display : none;
		}
		#container
		{
			height: auto;
		}
		#container1
		{
			height: auto;
		}
		#container2
		{
			height: auto;
		}
		#infos
		{
			height : auto;
		}
		#weverDiagContent
		{
			height : auto;
		}
	}

	.tripHour
    {
    	min-width : 105px;
    }

    #ARContainer
    {
    	min-width : 100px;
    }

	/* Nouvelles règles si la fenêtre fait au plus 376px de large */
	@media all and (max-width: 485px)
	{
	    #weverBaselineImage
	    {
	    	width : 150px;
	    	height : auto;
	    }
	    #weverBaseline
	    {
	    	width : 150px;
	    	height : auto;
	    }
	    #seDeconnecter
	    {
	    	width : 110px;
	    	height : auto;
	    }
	    #departureSpan
	    {
	    	display : none;
	    }
	    #arrivalSpan
	    {
	    	display : none;
	    }
	    .fieldText
	    {
	    	margin-right : 60px;
	    }
	}

	</style>
</head>
<body onresize="adjustCircle()">
	<div class="col-lg-12 col-md-12" style="height:92px;background-color:#ECECEC">
		<div id="weverBaseline">
			<img id="weverBaselineImage" src="images/weverBaseline.png" />
			<%
				if(admin)
				{
			%>
				<a href="/admin">Gérer les critères.</a>
			<%
				}
			%>
		</div>
		
		<div id="seDeconnecter">
			<a href="/disconnect" class="btn btn-primary pull-right">Déconnexion</a>
		</div>
	</div>

	<!-- Déclaration du trajet utilisateur (Debut)-->
	
	<div id="trip">
	<div class="col-lg-12 col-md-12" style="font-size:36px;color:#373737;height:auto;text-align:center;margin-top:20px;">Où allons-nous ?</div>

	<div id="weverPanel" class="col-lg-offset-3 col-md-offset-1 col-sm-offset-1 col-lg-2 col-md-3 col-sm-3 col-xs-4">
		<img id="W" src="images/W.svg" />
		<div id="weverPanelText" >
			<h3>
			Imaginons</br>
			ensemble une</br>
			nouvelle mobilité !
			</h3>
		</div>
	</div>

	<div id="weverDiagContent" class="col-lg-4 col-md-7 col-sm-7 col-xs-12" ng-app="diagApp" ng-controller="controller">

		<h3 style="text-align:center;margin-top:0px;">Choisissez votre mode de transport</br> pour ce trajet :</h3>

		<div style="text-align:center;position:relative">
		<div style="margin-top:11px;">
			<div id="transportModesText">
				Mode de</br> transport </br>&nbsp;
			</div>
			
			<div style="display:inline-block;">
				<a>
					<label>
						<input id="footRadio" type="radio" name="mode" value="foot" hidden>
						<img id="footRadioImage" onclick="toggleRadio(this,'footRadio')" src="images/mode/nonselectionne/apied.svg">
					</label>
				</a>
				<p>
					A pied </br>&nbsp;
				</p>
			</div>
			<div style="display:inline-block;">
				<a>
					<label>
						<input id="bicycleRadio" type="radio" name="mode" value="bicycle" hidden>
						<img id="bicycleRadioImage" onclick="toggleRadio(this,'bicycleRadio')" src="images/mode/nonselectionne/avelo.svg">
					</label>
				</a>
				<p>
					A vélo </br>&nbsp;
				</p>
			</div>
			<div style="display:inline-block;">
				<a>
					<label>
						<input id="transportRadio" type="radio" name="mode" value="transport" hidden>
						<img id="transportRadioImage" onclick="toggleRadio(this,'transportRadio')" src="images/mode/nonselectionne/transports.svg">
					</label>
				</a>
				<p>
					Transport</br> en commun
				</p>
			</div>
			<div style="display:inline-block;">
				<a>
					<label>
						<input id="carRadio" type="radio" name="mode" value="car" hidden>
						<img id="carRadioImage" onclick="toggleRadio(this,'carRadio')" src="images/mode/nonselectionne/envoiture.svg">
					</label>
				</a>
				<p>
					Avec ma</br> voiture
				</p>
			</div>
		
			<div id="noneRadioContainer" style="display:inline-block;">
				<a>
					<label>
						<input id="noneRadio" type="radio" name="mode" value="none" hidden>
						<img id="noneRadioImage" onclick="toggleRadio(this,'noneRadio')" src="images/mode/nonselectionne/none.svg">
					</label>
				</a>
				<p>
					Aucun moyen</br>de transport
				</p>
			</div>
		</div>
			
		<!--
			<div class="col-lg-2">
				<input type="radio" name="mode" value="foot">A pied
			</div>
			<div class="col-lg-2">
				<input type="radio" name="mode" value="bicycle">A velo
			</div>
			<div class="col-lg-2">
				<input type="radio" name="mode" value="transport" checked>Transports
			</div>
			<div class="col-lg-2">
				<input type="radio" name="mode" value="car">Voiture
			</div>
		-->

		</div>

		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:auto;margin-top:28px;text-align:center;">
			<div id="departureText" class="col-lg-2 col-md-2 col-sm-2 col-xs-2 fieldText" style="text-align:justify;">Départ</div>
			<div class="input-group col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin:auto;text-align:center;">
				<span id="departureSpan" class="input-group-addon" style="width:10px;background-color:#F5F8F9;margin-right:0px;">
					<span class="glyphicon glyphicon-search"></span>
				</span>
				<input type="text" id="departure" ng-model="departureAddress" ng-change="getMatchingAdressesDeparture(departureAddress)" list="departureAdressesSet" class="form-control" placeholder="Départ" autofocus>
				<datalist id="departureAdressesSet">
					<option ng-repeat="addr in listUserAddressDeparture" value="{{ addr.full_address }}" ></option>
				</datalist>
			</div>
		</div>

		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:auto;margin-top:28px;text-align:center;">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:justify;">Heure</div>
			<div class="tripHour col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<input type="text" id="departureHour" ng-model="departureHour" class="form-control"  placeholder="HH:MM" ng-mouseleave="validHour(departureHour,'departureHour')">
			</div>
		</div>
		
		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:auto;margin-top:28px;text-align:center;">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 fieldText" id="arrivalText" style="text-align:justify;">Destination</div>
			<div class="input-group col-lg-offset-1 col-md-offset-1  col-sm-offset-1 col-xs-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-9" style="margin:auto;text-align:center;">
				<span id="arrivalSpan" class="input-group-addon" style="width:10px;background-color:#F5F8F9;margin-right:0px;">
					<span class="glyphicon glyphicon-search"></span>
				</span>
				<input type="text" id="arrival" ng-model="locationSearchTerm" ng-change="getMatchingWeverLocation(locationSearchTerm)" list="communities" class="form-control" placeholder="Destination" autofocus>
				<datalist id="communities">
					<option ng-repeat="community in listUserCommunities" value="{{ community.name }}" ></option>
				</datalist>
			</div>
		</div>

		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:auto;margin-top:10px;">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 fieldText" style="text-align:justify;">Aller/Retour</div>
			<div id="ARContainer" class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-7">
					<!-- Rounded switch -->
					<label class="switch">
					  <input id="AR" type="checkbox" ng-model="AR">
					  <div class="slider round"></div>
					</label>
			</div>
		</div>

		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:auto;margin-top:8px;text-align:center;">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:justify;">Heure</div>
			<div class="tripHour col-lg-offset-1 col-md-offset-1  col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3">
				<input type="text" id="arrivalHour" class="form-control"  placeholder="HH:MM" ng-model="arrivalHour" ng-disabled="!AR" 
				ng-mouseleave="validHour(arrivalHour,'arrivalHour')" autofocus>
			</div>
		</div>

		<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin:auto;margin-top:10px;">
			<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 fieldText" style="text-align:justify;">Recurrence</div>
			<div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-9 col-md-9 col-sm-9 col-xs-12 recurrency">
				<!--
				<div class="btn-group btn-group-justified">
			    	<a class="btn btn-default" href="#" onclick="dayMarked(event,this,1)">Lun</a>
			    	<a class="btn btn-default" href="#" onclick="dayMarked(event,this,2)">Mar</a>
			    	<a class="btn btn-default" href="#" onclick="dayMarked(event,this,3)">Mer</a>
			    	<a class="btn btn-default" href="#" onclick="dayMarked(event,this,4)">Jeu</a>
			    	<a class="btn btn-default" href="#" onclick="dayMarked(event,this,5)">Ven</a>
			    	<a class="btn btn-default" href="#" onclick="dayMarked(event,this,6)">Sam</a>
			    	<a class="btn btn-default" href="#" onclick="dayMarked(event,this,7)">Dim</a>
			    </div>
				-->
				<div class="day" onclick="toggleBackgroundColor(this)">
					<span>Lun</span>
				</div>
				<div class="day" onclick="toggleBackgroundColor(this)">
					<span>Mar</span>
				</div>
				<div class="day" onclick="toggleBackgroundColor(this)">
					<span>Mer</span>
				</div>
				<div class="day" onclick="toggleBackgroundColor(this)">
					<span>Jeu</span>
				</div>
				<div class="day" onclick="toggleBackgroundColor(this)">
					<span>Ven</span>
				</div>
				<div class="day" onclick="toggleBackgroundColor(this)">
					<span>Sam</span>
				</div>
				<div class="day" onclick="toggleBackgroundColor(this)">
					<span>Dim</span>
				</div>
			</div>
		</div>

		<!--
		<div class="row col-lg-12" style="margin:auto;margin-top:28px;text-align:center;">
			<div class="col-lg-offset-2 col-lg-2" style="text-align:justify;">Heure</div>
			<div class="col-lg-offset-1 col-lg-3">
				<input type="text" id="arrivalHour" class="form-control"  placeholder="HH:MM" ng-disabled="!AR" autofocus>
			</div>
		</div>
		-->

		
		<div class="pull-right" style="margin-top:16px;">
			<a class="btn btn-default" href="/disconnect" style="margin-right:3px;border-radius:23px;">RETOUR</a> <a onclick="showDiag()" class="btn" style="border-radius:13px;background-color:#00C9FF;color:WHITE">&nbsp;&nbsp;VALIDER&nbsp;&nbsp;</a>
		</div>
		
	</div>
	</div>
	<!-- Déclaration du trajet utilisateur (Fin)-->

	<!-- Diagnostique pour les utilisateurs en transport en commun (Debut)-->
	
	<div id="transport" hidden>
	<div class="col-lg-12 col-md-12" style="font-size:36px;color:#373737;height:auto;text-align:center;margin-top:20px;">Vous souffrez des transports en commun ?</div>

	<div>

		<div class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-lg-2 col-md-2 col-sm-3 diagPanel" style="height:543px;background-color:#56E355;margin-top:20px;border-top-left-radius: 21.25px;border-bottom-left-radius: 21.25px">
			<img src="images/W.svg" style="display:block;margin:auto;margin-top:40px;"/>
			<div id="weverPanelText" >
				<h3>
				Imaginons</br>
				ensemble une</br>
				nouvelle mobilité !
				</h3>
			</div>
		</div>

		<div id="container" class="col-lg-4 col-md-6 col-sm-7 col-xs-12" ng-app="diagApp" ng-controller="controller">
			<h4 style="text-align:center;">Dites nous pourquoi :</h4>
				<%
			    for(criterionId in allCriteria) {
			    %>
			    		<%
		    		if(allCriteria[criterionId] != null)
		    		{
			    		%>
				    		<%
					    		if(allCriteria[criterionId].criterionValueType == 'discrete')
					    		{
					    	%>
					    				<%
					    					if(allCriteria[criterionId].criterionName == 'arret')
					    					{
					    				%>
					    					<div id="circle_arret" class="circle" style="text-align:center;">
					    						<img src="images/bus/nonselectionne/arret_trop_loin.svg" title="L'arrêt de transport le plus proche est trop éloigné" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Arrêt trop loin
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'confort')
					    					{
					    				%>
					    					<div id="circle_confort" class="circle" style="text-align:center;">
					    						<img src="images/bus/nonselectionne/confort.svg" title="Le transport en commmun manque de confort" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Confort
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'correspondance')
					    					{
					    				%>
					    					<div id="circle_correspondance" class="circle" style="text-align:center;">
					    						<img src="images/bus/nonselectionne/correspondance.svg" title="Il y a beaucoup trop de correspondances pour arriver à ma destination" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Trop de</br>
					    							correspondances
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'horaire')
					    					{
					    				%>
					    					<div id="circle_horaire" class="circle" style="text-align:center;">
					    						<img src="images/bus/nonselectionne/horaires.svg" title="Les horaires du transport en commun ne sont pas adaptés" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Horaires</br>
					    							inadaptés
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'information')
					    					{
					    				%>
					    					<div id="circle_information" class="circle" style="text-align:center;">
					    						<img src="images/bus/nonselectionne/indispensable.svg" title="Le manque d'informations en temps réel et pour anticiper mon déplacement" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Manque</br>
					    							d'informations
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'securite')
					    					{
					    				%>
					    					<div id="circle_securite" class="circle" style="text-align:center;">
					    						<img src="images/bus/nonselectionne/insecurite.svg" title="Je ne m'y sens pas en sécurité" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Insécurité
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'complet')
					    					{
					    				%>
					    					<div id="circle_complet" class="circle" style="text-align:center;">
					    						<img src="images/bus/nonselectionne/souventcomplet.svg" title="Le transport en commun est souvent bondé" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Souvent</br>
					    							Complet
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'dureetrajet')
					    					{
					    				%>
					    					<div id="circle_dureetrajet" class="circle" style="margin-bottom:90px;text-align:center;">
					    						<img src="images/bus/nonselectionne/dureetrajet.svg" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Durée de trajet</br>
					    							trop longue
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

				    		<%
					    		}
					    	%>
			    	<%
		    		}
		    		%>
			    <%
	    		}
	    		%>
			    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:absolute;bottom:0px;text-align:center;">
			    	<a href="/" class="btn btn-default" style="margin-right:20px;border-radius:23px;margin-top:5px;">Retour</a>
					<a href="#" class="btn" onclick="submitDiagnostic(event)" style="background-color:#00C9FF;color:white;margin-top:5px;">Soumettre le diagnostique</a>
				</div>

		</div>

	</div>
	</div>
	
	<!-- Diagnostique pour les utilisateurs en transport en commun (Fin)-->

	<!-- Diagnostique pour les utilisateurs en voiture (Debut)-->
	
	<div id="car" hidden>
		<div class="col-lg-12 col-md-12" style="font-size:36px;color:#373737;height:auto;text-align:center;margin-top:20px;">Vous n' empruntez pas les transports en commun ?</div>

		<div>

		<div class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-lg-2 col-md-2 col-sm-3 diagPanel" style="height:543px;background-color:#56E355;margin-top:20px;border-top-left-radius: 21.25px;border-bottom-left-radius: 21.25px">
			<img src="images/W.svg" style="display:block;margin:auto;margin-top:40px;"/>
			<div id="weverPanelText" >
				<h3>
				Imaginons</br>
				ensemble une</br>
				nouvelle mobilité !
				</h3>
			</div>
		</div>

		<div id="container1" class="col-lg-4 col-md-6 col-sm-7 col-xs-12" ng-app="diagApp" ng-controller="controller">
			<h4 style="text-align:center;">Dites nous pourquoi :</h4>
				<%
			    for(criterionId in allCriteria) {
			    %>
			    		<%
		    		if(allCriteria[criterionId] != null)
		    		{
			    		%>
				    		<%
					    		if(allCriteria[criterionId].criterionValueType == 'discrete')
					    		{
					    	%>
					    				<%
					    					if(allCriteria[criterionId].criterionName == 'arret')
					    					{
					    				%>
					    					<div id="circle1_arret" class="circle1" style="text-align:center;">
					    						<img src="images/car/nonselectionne/arret_trop_loin.svg" title="L'arrêt de transport le plus proche est trop éloigné" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Arret trop loin
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'confort')
					    					{
					    				%>
					    					<div id="circle1_confort" class="circle1" style="text-align:center;">
					    						<img src="images/car/nonselectionne/confort.svg" title="Le transport en commmun manque de confort" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Confort
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'correspondance')
					    					{
					    				%>
					    					<div id="circle1_correspondance" class="circle1" style="text-align:center;">
					    						<img src="images/car/nonselectionne/correspondance.svg" title="Il y a beaucoup trop de correspondances pour arriver à ma destination" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Trop de</br> correspondances
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'horaire')
					    					{
					    				%>
					    					<div id="circle1_horaire" class="circle1" style="text-align:center;">
					    						<img src="images/car/nonselectionne/horaires.svg" title="Les horaires du transport en commun ne sont pas adaptés" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Horaires inadaptés
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'information')
					    					{
					    				%>
					    					<div id="circle1_information" class="circle1" style="text-align:center;">
					    						<img src="images/car/nonselectionne/indispensable.svg" title="Le manque d'informations en temps réel et pour anticiper mon déplacement" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Manque d'informations
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'securite')
					    					{
					    				%>
					    					<div id="circle1_securite" class="circle1" style="text-align:center;">
					    						<img src="images/car/nonselectionne/insecurite.svg" title="Je ne m'y sens pas en sécurité" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Insécurité
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'transport')
					    					{
					    				%>
					    					<div id="circle1_transport" class="circle1" style="text-align:center;">
					    						<img src="images/car/nonselectionne/pas_de_bus.svg" title="Il n' y a pas de transport en commun vers ma destination" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Pas de transport</br> en commun
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'parking')
					    					{
					    				%>
					    					<div id="circle1_parking" class="circle1" style="margin-bottom:90px;text-align:center;">
					    						<img src="images/car/nonselectionne/stationnement.svg" title="Je peux me garer facilement en arrivant à destination" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Parking facile
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

				    		<%
					    		}
					    	%>
			    	<%
		    		}
		    		%>
			    <%
	    		}
	    		%>
			    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:absolute;bottom:0px;text-align:center;">
			    	<a href="/" class="btn btn-default" style="margin-right:20px;border-radius:23px;margin-top:5px;">Retour</a>
					<a href="#" class="btn" onclick="submitDiagnostic(event)" style="background-color:#00C9FF;color:white;margin-top:5px;">Soumettre le diagnostique</a>
				</div>
		</div>

		</div>

	</div>
	
	<!-- Diagnostique pour les utilisateurs en voiture (Fin)-->

	<!-- Diagnostique pour les utilisateurs sans moyen de mobilité (Debut) -->

	<div id="none" hidden>
	<div id="noneText" class="col-lg-12 col-md-12" style="font-size:36px;color:#373737;height:auto;text-align:center;margin-top:20px;">Vous n'avez aucun moyen de transport ?</div>

	<div id="infosText" class="col-lg-12 col-md-12" style="font-size:36px;color:#373737;height:auto;text-align:center;margin-top:20px;" hidden>Avis de la communauté sur votre trajet</div>

	<div class="col-lg-offset-3 col-md-offset-2 col-sm-offset-1 col-lg-2 col-md-2 col-sm-3 diagPanel" style="height:543px;background-color:#56E355;margin-top:20px;border-top-left-radius: 21.25px;border-bottom-left-radius: 21.25px">
		<img src="images/W.svg" style="display:block;margin:auto;margin-top:40px;"/>
		<div id="weverPanelText" >
			<h3>
			Imaginons</br>
			ensemble une</br>
			nouvelle mobilité !
			</h3>
		</div>
	</div>

	<div id="container2" class="col-lg-4 col-md-6 col-sm-7 col-xs-12" ng-app="diagApp" ng-controller="controller">
			<h4 style="text-align:center;">Dites nous pourquoi :</h4>
				<%
			    for(criterionId in allCriteria) {
			    %>
			    		<%
		    		if(allCriteria[criterionId] != null)
		    		{
			    		%>
				    		<%
					    		if(allCriteria[criterionId].criterionValueType == 'discrete')
					    		{
					    	%>
					    				<%
					    					if(allCriteria[criterionId].criterionName == 'arret')
					    					{
					    				%>
					    					<div id="circle2_arret" class="circle2" style="text-align:center;">
					    						<img src="images/none/nonselectionne/arret_trop_loin.svg" title="L'arrêt le plus proche est trop eloigné" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Arrêt trop loin
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'transport')
					    					{
					    				%>
					    					<div id="circle2_transport" class="circle2" style="text-align:center;">
					    						<img src="images/none/nonselectionne/pas_de_bus.svg" title="Il n' y a pas de transport en commun pour cette destination ou pour cet horaire" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Pas de transport</br>
					    							en commun
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'permis')
					    					{
					    				%>
					    					<div id="circle2_permis" class="circle2" style="text-align:center;">
					    						<img src="images/none/nonselectionne/permis.svg" title="Je n'ai pas le permis de conduire" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Pas de permis</br>
					    							de conduire
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>

					    				<%
					    					if(allCriteria[criterionId].criterionName == 'voiture')
					    					{
					    				%>
					    					<div id="circle2_voiture" class="circle2" style="margin-bottom:90px;text-align:center;">
					    						<img src="images/none/nonselectionne/voiture.svg" title="Je n' ai pas de véhicule à disposition" onclick="markCrit(this,'3','<%= allCriteria[criterionId].criterionName %>')" />
					    						<p>
					    							Pas de voiture</br>
					    						</p>
					    					</div>
					    				<%
					    					}
					    				%>
				    		<%
					    		}
					    	%>
			    	<%
		    		}
		    		%>
			    <%
	    		}
	    		%>
			    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:absolute;bottom:0px;text-align:center;">
			    	<a href="/" class="btn btn-default" style="margin-right:20px;border-radius:23px;margin-top:5px;">Retour</a>
					<a href="#" class="btn" onclick="submitDiagnostic(event)" style="background-color:#00C9FF;color:white;margin-top:5px;">Soumettre le diagnostique</a>
				</div>
		</div>

		</div>

	</div>
</div>

	<!-- Diagnostique pour les utilisateurs sans moyen de mobilité (Fin) -->

	<div id="infos" class="col-lg-4 col-md-4" hidden>
		<%
	    for(criterionId in allCriteria) {
	    %>
	    		<%
    		if(allCriteria[criterionId] != null)
    		{
	    		%>
		    		<%
			    		if(allCriteria[criterionId].criterionValueType == 'discrete')
			    		{
			    	%>
			    				<%
			    					if(allCriteria[criterionId].criterionName == 'arret')
			    					{
			    				%>
				    					<div id='infos_arret' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria busCriteria carCriteria noneCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/bus/selectionne/arret_trop_loin.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'confort')
			    					{
			    				%>
				    					<div id='infos_confort' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria busCriteria carCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/bus/selectionne/confort.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'correspondance')
			    					{
			    				%>
				    					<div id='infos_correspondance' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria busCriteria carCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/bus/selectionne/correspondance.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'horaire')
			    					{
			    				%>
				    					<div id='infos_horaire' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria busCriteria carCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/bus/selectionne/horaires.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'information')
			    					{
			    				%>
				    					<div id='infos_information' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria busCriteria carCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/bus/selectionne/indispensable.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'securite')
			    					{
			    				%>
				    					<div id='infos_securite' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria busCriteria carCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/bus/selectionne/insecurite.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'transport')
			    					{
			    				%>
				    					<div id='infos_transport' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria carCriteria noneCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/car/selectionne/pas_de_bus.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'parking')
			    					{
			    				%>
				    					<div id='infos_parking' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria carCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/car/selectionne/stationnement.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'complet')
			    					{
			    				%>
				    					<div id='infos_complet' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria busCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/bus/selectionne/souventcomplet.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'permis')
			    					{
			    				%>
				    					<div id='infos_permis' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria noneCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/none/selectionne/permis.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'voiture')
			    					{
			    				%>
				    					<div id='infos_voiture' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria noneCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/none/selectionne/voiture.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

			    				<%
			    					if(allCriteria[criterionId].criterionName == 'dureetrajet')
			    					{
			    				%>
				    					<div id='infos_dureetrajet' class="col-lg-6 col-md-6 col-sm-6 col-xs-12 criteria busCriteria" style="margin-top:10px;">
				    						<img height="60" width="60" src="images/bus/selectionne/dureetrajet.svg" />
				    					</div>
			    				<%
			    					}
			    				%>

		    		<%
			    		}
			    	%>
	    	<%
    		}
    		%>
	    <%
		}
		%>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:5px;">
	    	<a href="/" class="btn btn-default" style="border-radius:23px;">Retour</a>
		</div>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-top:1px solid #ECECEC;margin-top:21px;">
		<div style="display:inline-block;width:139px;height:auto;">
			<img src="images/wever.svg" height="40"/>
		</div>

		<div style="display:inline-block;margin-right:20px;vertical-align:bottom;">
			<a href="#">Confidentialité et conditions d'utilisation.</a>
		</div>

		<div style="display:inline-block;margin-right:20px;vertical-align:bottom;">
			<a href="#">Aide</a>
		</div>
	</div>
	
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>

	var mode = null;
	var departure = null;
	var departureHour = null;
	var departureHourValid = false;
	var arrival = null;
	var arrivalHour = null;
	var arrivalHourValid = false;
	var AR = 0;

	var tripInformations = null;

	var circlesContainer = null;
	var circlesClass = null;

	var nbCriteriaSelected = 0;

	function adjustCircle()
	{
		if( circlesContainer && circlesClass )
		{
			console.log("Je suis appellee");
			displayInCircle(circlesContainer,circlesClass);
		}
	}

	/*var storageSupported = false;

	if (typeof(Storage) !== "undefined") {
		storageSupported = true;
	}

	
	window.onload = function()
	{
		if(storageSupported)
		{
			if(localStorage.lastMode)
			{
				if(localStorage.lastMode == 'foot')
				{
					inactiveAllRadioModeImages();
					$("#footRadio").prop("checked",true);
					$("#bicycleRadio").prop("checked",false);
					$("#transportRadio").prop("checked",false);
					$("#carRadio").prop("checked",false);
					$("#noneRadio").prop("checked",false);
					toggleImage(document.getElementById("footRadioImage"));
				}
				if(localStorage.lastMode == 'car')
				{
					inactiveAllRadioModeImages();
					$("#footRadio").prop("checked",false);
					$("#bicycleRadio").prop("checked",false);
					$("#transportRadio").prop("checked",false);
					$("#carRadio").prop("checked",true);
					$("#noneRadio").prop("checked",false);
					toggleImage(document.getElementById("carRadioImage"));
				}
				if(localStorage.lastMode == 'transports')
				{
					inactiveAllRadioModeImages();
					$("#footRadio").prop("checked",false);
					$("#bicycleRadio").prop("checked",false);
					$("#transportRadio").prop("checked",true);
					$("#carRadio").prop("checked",false);
					$("#noneRadio").prop("checked",false);
					toggleImage(document.getElementById("transportRadioImage"));
				}
				if(localStorage.lastMode == 'bicycle')
				{
					inactiveAllRadioModeImages();
					$("#footRadio").prop("checked",false);
					$("#bicycleRadio").prop("checked",true);
					$("#transportRadio").prop("checked",false);
					$("#carRadio").prop("checked",false);
					$("#noneRadio").prop("checked",false);
					toggleImage(document.getElementById("bicycleRadioImage"));
				}
				if(localStorage.lastMode == 'none')
				{
					inactiveAllRadioModeImages();
					$("#footRadio").prop("checked",false);
					$("#bicycleRadio").prop("checked",false);
					$("#transportRadio").prop("checked",false);
					$("#carRadio").prop("checked",false);
					$("#noneRadio").prop("checked",true);
					toggleImage(document.getElementById("noneRadioImage"));
				}
			}
		}
	}*/

	var app = angular.module("diagApp",[]);
	app.controller("controller",function($scope,$http){

		$scope.validHour = function(hour,id)
		{
			var result = /^\d{2}:\d{2}$/.test(hour);
			if(!result)
			{
				if(id == 'departureHour') departureHourValid = false;
				if(id == 'arrivalHour') arrivalHourValid = false;
				$("#"+id).css("border","pink 3px solid");
			}
			else
			{
				if(id == 'departureHour') departureHourValid = true;
				if(id == 'arrivalHour') arrivalHourValid = true;
				$("#"+id).css("border","");
			}
			return result;
		}

		$scope.getMatchingAdressesDeparture = function(address)
		{
			if(address.length > 0)
			{
				$http({
					method: 'GET',
					url: '/weverAdresses?locationSearchTerm='+$scope.departureAddress
				}).then(function success(response) {
					$scope.listAddress = response.data;
					
					if($scope.listAddress.length > 0)
					{
						if($scope.listAddress[0].full_address != $scope.departureAddress)
						{
							$scope.listUserAddressDeparture = $scope.listAddress;
						}
						else
						{
							lat1 = $scope.listAddress[0].coordinates[1] ;
							lon1 = $scope.listAddress[0].coordinates[0] ;
							$scope.listUserAddressDeparture = [];
						}
					}
				});
			}
		}
		/*$scope.getMatchingAdressesArrival = function(address)
		{
			if(address.length > 0)
			{
				$http({
					method: 'GET',
					url: 'https://apipp.wever.fr/widdle/wever/api/1.0/autocomplete?address='+$scope.arrivalAddress+'&country=fr'
				}).then(function success(response) {
					$scope.listAddress = response.data;
					if($scope.listAddress.length > 0)
					{
						if($scope.listAddress[0].full_address != $scope.arrivalAddress)
						{
							$scope.listUserAddressArrival = $scope.listAddress;
						}
						else
						{
							lat2 = $scope.listAddress[0].coordinates[1] ;
							lon2 = $scope.listAddress[0].coordinates[0] ;
							$scope.listUserAddressArrival = [];
						}
					}
				});
			}
		}*/
		$scope.getMatchingWeverLocation = function(locationSearchTerm)
		{
			if(locationSearchTerm.length > 0)
			{
				$http({
					method: 'GET',
					url: '/weverLocationsMatching?locationSearchTerm='+$scope.locationSearchTerm
				}).then(function success(response) {
					$scope.listCommunities = response.data;
					console.log($scope.listCommunities);
					
					if($scope.listCommunities.length > 0)
					{
						if($scope.listCommunities[0].name != $scope.locationSearchTerm)
						{
							$scope.listUserCommunities = $scope.listCommunities;
							console.log($scope.listUserCommunities);
						}
						else
						{
							lat2 = $scope.listCommunities[0].location.lat ;
							lon2 = $scope.listCommunities[0].location.lon ;
							$scope.listUserCommunities = [];
						}
					}
				});
			}
		}
	});

	var lat1;
	var lon1;
	var lat2;
	var lon2;

	$("#transport").hide();
	$("#car").hide();

	function displayInCircle(containerName,className)
	{

		var container = document.getElementById(containerName);

		var containerWidth = parseInt($("#"+containerName).css("width"));
		var containerHeight = parseInt($("#"+containerName).css("height"));
		
		if( $(window).width() >= 768 )
		{
			console.log(">=768");
			$("."+className).removeClass("col-xs-6");
			$("."+className).css("min-height","100px");

			var circles = document.querySelectorAll("."+className);
		
			var nbCircles = circles.length;
			var x;var y;
			var R;
			var totalHeight = 0;
			var circleHeight;
			var circleWidth;

			for(var i=0;i<nbCircles;i++)
			{
				circles[i].style.position = "absolute" ;

				circleHeight = parseInt($("#"+circles[i].id).css("height"));
				circleWidth = parseInt($("#"+circles[i].id).css("width"));

				R = (3/10)*containerHeight;

				x = R*Math.cos( Math.PI/2 - (2*Math.PI)*(i/nbCircles) ) ;
				y = R*Math.sin( Math.PI/2 - (2*Math.PI)*(i/nbCircles) ) ;
				
				circles[i].style.left = (containerWidth/2 - circleWidth/2) + x + "px";
				circles[i].style.top  = (containerHeight/2 - circleHeight/2) - y + "px";
			}
		}
		else
		{
			console.log("<768");
			$("."+className).css("position","static");
			$("."+className).css("min-height","130px");
			$("."+className).addClass("col-xs-6");
			$("."+className).css("text-align","center");
		}
	}

	/*function dayMarked(event,elem,dayNumber)
	{
		event.preventDefault();
		if($(elem).hasClass("btn-primary"))
		{
			$(elem).removeClass("btn-primary");
			$(elem).addClass("btn-default");
		}
		else
		{
			$(elem).removeClass("btn-default");
			$(elem).addClass("btn-primary");
		}
		console.log(dayNumber);
	}*/

	function toggleBackgroundColor(elem)
	{
		if(elem.style.backgroundColor == "")
		{
			elem.style.backgroundColor = "#337ab7";
			elem.style.color = "white";
		}
		else
		{
			elem.style.backgroundColor = "";
			elem.style.color = "";
		}
	}

	function showDiag()
	{	

		var modes = document.getElementsByName('mode');
		for(var i=0;i<modes.length;i++)
		{
			if( modes[i].checked )
			{
				if( modes[i].value == 'transport' )
				{
					mode = 'transport';

					$("#trip").hide();
					$("#transport").show();
					displayInCircle("container","circle");
					circlesContainer = "container";
					circlesClass = "circle";
				}
				if( modes[i].value == 'car' )
				{
					mode = 'car';

					$("#trip").hide();
					$("#car").show();
					displayInCircle("container1","circle1");
					circlesContainer = "container1";
					circlesClass = "circle1";
				}
				if( modes[i].value == 'none' )
				{
					mode = 'none';

					$("#trip").hide();
					$("#none").show();
					displayInCircle("container2","circle2");
					circlesContainer = "container2";
					circlesClass = "circle2";
				}
			}
		}

		if(!mode)
		{
			alert("Veuillez choisir au moins un mode de transport avant de poursuivre.");
		}
		else
		{
			departure = $("#departure").val();

			if(departureHourValid)
			{
				departureHour = $("#departureHour").val();
			}
			else
			{
				departureHour = "";
			}
			
			arrival = $("#arrival").val();

			if(arrivalHourValid)
			{
				arrivalHour = $("#arrivalHour").val();
			}
			else
			{
				arrivalHour = "";
			}

			if(document.getElementById("AR").checked) AR = 1;

			tripInformations = {"mode":mode,"departure":departure,"departureHour":departureHour,"arrival":arrival,"arrivalHour":arrivalHour,"AR":AR}
		}
	}

	var criteria = {};

	var userCriteriaDeparture = {};
	var userCriteriaTrip = {};
	var userCriteriaArrival = {};

	var nearDeparture = {};
	var nearTrip = {};
	var nearArrival = {};

	<%
    for(criterionId in allCriteria) {
	    if(allCriteria[criterionId] != null)
	    {
    %>
    		criteria['<%= allCriteria[criterionId].criterionName %>'] = {"id":'<%= criterionId %>',"type":'<%= allCriteria[criterionId].criterionType %>',
    		"name":'<%= allCriteria[criterionId].criterionName %>',"valueType":'<%= allCriteria[criterionId].criterionValueType %>',
    		"admissibleValues":'<%= allCriteria[criterionId].criterionAdmissibleValues %>'} ;
	    	userCriteriaDeparture['<%= allCriteria[criterionId].criterionName %>'] = {"id":'<%= criterionId %>',"value":"0"} ;
	    	userCriteriaTrip['<%= allCriteria[criterionId].criterionName %>'] = {"id":'<%= criterionId %>',"value":"0"} ;
	    	userCriteriaArrival['<%= allCriteria[criterionId].criterionName %>'] = {"id":'<%= criterionId %>',"value":"0"} ;
    <%
		}
	}
    %>

	function submitDiagnostic(event)
	{
		event.preventDefault();

		if(nbCriteriaSelected > 0)
		{
			var diagDeparture = {"lat1" : lat1,"lon1" : lon1,"lat2" : 181,"lon2" : 181,"criteria" : userCriteriaDeparture,"tripInformations" : tripInformations};
			var diagTrip = {"lat1" : lat1,"lon1" : lon1,"lat2" : lat2,"lon2" : lon2,"criteria" : userCriteriaTrip,"tripInformations" : tripInformations};
			var diagArrival = {"lat1" : 181,"lon1" : 181,"lat2" : lat2,"lon2" : lon2,"criteria" : userCriteriaArrival,"tripInformations" : tripInformations};

			$.ajax({
			    url: "/createDiag",
			    type: "GET",
			    data: "diagDeparture="+JSON.stringify(diagDeparture)+"&diagTrip="+JSON.stringify(diagTrip)+"&diagArrival="+JSON.stringify(diagArrival),
			    contentType: "html",
			    success : displayDiagInfos
			});
		}
		else
		{
			alert("Veuillez remplir le diagnostic !");
		}
	}

	function displayDiagInfos(result)
	{
		if(result == 'received')
		{
			
			if(mode == 'transport')
			{
				$("#container").hide();
			}
			else if(mode == 'car')
			{
				$("#container1").hide();
			}
			else if(mode == 'none')
			{
				$("#container2").hide();
				$("#noneText").hide();
				$("#infosText").show();
			}

			$("#infos").show();
			$(".criteria").hide();

			if(mode == 'transport')
			{
				$("#container").hide();
				$(".busCriteria").show();
			}
			else if(mode == 'car')
			{
				$("#container1").hide();
				$(".carCriteria").show();
			}
			else if(mode == 'none')
			{
				$("#container2").hide();
				$(".noneCriteria").show();
			}
			
			$.ajax({
			    url: "/nearPoints",
			    type: "GET",
			    data: 'lat='+lat1+'&lon='+lon1,
			    contentType: "html",
			    success : function(matchingPoints){
			    	nearDeparture = JSON.parse(matchingPoints);
			    	console.log(nearDeparture);
			    	for(criterion in userCriteriaDeparture)
			    	{
			    		if(criteria[criterion]["type"] == 1)
			    		{
			    			getRelatedLocalDiagsNumber(criterion,2);
			    		}
			    	}
			    }
			});

			$.ajax({
			    url: "/nearTrips",
			    type: "GET",
			    data: 'latDeparture='+lat1+'&lonDeparture='+lon1+'&latArrival='+lat2+'&lonArrival='+lon2,
			    contentType: "html",
			    success : function(matchingPoints){
			    	nearTrip = JSON.parse(matchingPoints);
			    	console.log(nearTrip);
			    	for(criterion in userCriteriaTrip)
			    	{
			    		if(criteria[criterion]["type"] == 2)
			    		{
			    			getRelatedTripDiagsNumber(criterion);
			    		}
			    	}
			    }
			});

			$.ajax({
			    url: "/nearPoints",
			    type: "GET",
			    data: 'lat='+lat2+'&lon='+lon2,
			    contentType: "html",
			    success : function(matchingPoints){
			    	nearArrival = JSON.parse(matchingPoints);
			    	console.log(nearArrival);
			    	for(criterion in userCriteriaArrival)
			    	{
			    		if(criteria[criterion]["type"] == 1)
			    		{
				    		getRelatedLocalDiagsNumber(criterion,1);
			    		}
			    	}
			    }
			});

			alert("Votre rapport a été transmis !\nVous serez alertés si nous mettons en place de nouveaux moyens de mobilité (covoiturage, bus sur mesure etc.).");

		}
	}

	function getRelatedLocalDiagsNumber(unimodalCriterion,P)
	{
		if(P == 1)
		{
			var cpt = 0;
			for(id in nearArrival)
			{
				if( parseInt(getP(nearArrival[id][diumodalCriterion])) > 0 )
				{
					if( parseInt(getP(userCriteriaArrival[diumodalCriterion].value)) > 0 )
					{
						if( parseInt(getP(userCriteriaArrival[diumodalCriterion].value)) == parseInt(getP(nearArrival[id][diumodalCriterion])) )
						{
							if(getAdmissibleValue(nearArrival[id][unimodalCriterion]) == getAdmissibleValue(userCriteriaArrival[unimodalCriterion].value))
							{
								// On vérifie ici que le phoneUser du diagnostique n'est pas le phoneUser du user a qui on doit présenter les infos;
								if(nearArrival[id]["phoneUser"] != "<%= user.phone %>")
								{
									cpt++;
								}
							}
						}
					}
					else
					{
						if(nearArrival[id]["phoneUser"] != "<%= user.phone %>")
						{
							cpt++;
						}
					}
				}
			}

			if(cpt == 0) toggleImage(document.querySelectorAll("#infos_"+unimodalCriterion+" img")[0]);
			$("#infos_"+unimodalCriterion).append(' ' +cpt+' personnes</br>');
		}
		else if(P == 2)
		{
			var cpt = 0;
			for(id in nearDeparture)
			{
				if( parseInt(getP(nearDeparture[id][diumodalCriterion])) > 0 )
				{
					if( parseInt(getP(userCriteriaDeparture[diumodalCriterion].value)) > 0 )
					{
						if( parseInt(getP(userCriteriaDeparture[diumodalCriterion].value)) == parseInt(getP(nearDeparture[id][diumodalCriterion])) )
						{
							if(getAdmissibleValue(nearDeparture[id][unimodalCriterion]) == getAdmissibleValue(userCriteriaDeparture[unimodalCriterion].value))
							{
								// On vérifie ici que le phoneUser du diagnostique n'est pas le phoneUser du user a qui on doit présenter les infos;
								if(nearDeparture[id]["phoneUser"] != "<%= user.phone %>")
								{
									cpt++;
								}
							}
						}
					}
					else
					{
						if(nearDeparture[id]["phoneUser"] != "<%= user.phone %>")
						{
							cpt++;
						}
					}
				}
			}

			if(cpt == 0) toggleImage(document.querySelectorAll("#infos_"+unimodalCriterion+" img")[0]);
			$("#infos_"+unimodalCriterion).append(' ' +cpt+' personnes</br>');
		}
	}

	function getRelatedTripDiagsNumber(diumodalCriterion)
	{
		var cpt = 0;
		for(id in nearTrip)
		{
			if( parseInt(getP(nearTrip[id][diumodalCriterion])) > 0 )
			{
				if( parseInt(getP(userCriteriaTrip[diumodalCriterion].value)) > 0 )
				{
					if( parseInt(getP(nearTrip[id][diumodalCriterion])) ==  parseInt(getP(userCriteriaTrip[diumodalCriterion].value)) )
					{
						if( getAdmissibleValue(nearTrip[id][diumodalCriterion]) == getAdmissibleValue(userCriteriaTrip[diumodalCriterion].value) )
						{
							// On vérifie ici que le phoneUser du diagnostique n'est pas le phoneUser du user a qui on doit présenter les infos;
							if(nearTrip[id]["phoneUser"] != "<%= user.phone %>")
							{
								cpt++;
							}
						}
					}
				}
				else
				{
					if(nearTrip[id]["phoneUser"] != "<%= user.phone %>")
					{
						cpt++;
					}
				}
			}
		}

		if(cpt == 0) toggleImage(document.querySelectorAll("#infos_"+diumodalCriterion+" img")[0]);
		$("#infos_"+diumodalCriterion).append(' ' +cpt+' personnes</br>');
	}

	function getP(criterionValue)
	{
		var criterionValueComponents = criterionValue.split(':');
		return criterionValueComponents[0];
	}

	function getAdmissibleValue(criterionValue)
	{
		var criterionValueComponents = criterionValue.split(':');
		if(criterionValueComponents.length == 1) return '';
		if(criterionValueComponents.length == 2) return criterionValueComponents[1];
	}

	function inactiveAllRadioModeImages()
	{
		if(!/nonselectionne/.test(document.getElementById("footRadioImage").src))
		{
			document.getElementById("footRadioImage").src = (document.getElementById("footRadioImage").src).replace(/selectionne/,'nonselectionne');
		}
		if(!/nonselectionne/.test(document.getElementById("bicycleRadioImage").src))
		{
			document.getElementById("bicycleRadioImage").src = (document.getElementById("bicycleRadioImage").src).replace(/selectionne/,'nonselectionne');
		}
		if(!/nonselectionne/.test(document.getElementById("transportRadioImage").src))
		{
			document.getElementById("transportRadioImage").src = (document.getElementById("transportRadioImage").src).replace(/selectionne/,'nonselectionne');
		}
		if(!/nonselectionne/.test(document.getElementById("carRadioImage").src))
		{
			document.getElementById("carRadioImage").src = (document.getElementById("carRadioImage").src).replace(/selectionne/,'nonselectionne');
		}
		if(!/nonselectionne/.test(document.getElementById("noneRadioImage").src))
		{
			document.getElementById("noneRadioImage").src = (document.getElementById("noneRadioImage").src).replace(/selectionne/,'nonselectionne');
		}
	}

	/* Sélectionne ou non le mode de transport. */
	function toggleRadio(image,id)
	{
		inactiveAllRadioModeImages();
		if(id == 'footRadio')
		{
			$("#footRadio").prop("checked",true);
			$("#bicycleRadio").prop("checked",false);
			$("#transportRadio").prop("checked",false);
			$("#carRadio").prop("checked",false);
			$("#noneRadio").prop("checked",false);
		}
		if(id == 'bicycleRadio')
		{
			$("#footRadio").prop("checked",false);
			$("#bicycleRadio").prop("checked",true);
			$("#transportRadio").prop("checked",false);
			$("#carRadio").prop("checked",false);
			$("#noneRadio").prop("checked",false);
		}
		if(id == 'transportRadio')
		{
			$("#footRadio").prop("checked",false);
			$("#bicycleRadio").prop("checked",false);
			$("#transportRadio").prop("checked",true);
			$("#carRadio").prop("checked",false);
			$("#noneRadio").prop("checked",false);
		}
		if(id == 'carRadio')
		{
			$("#footRadio").prop("checked",false);
			$("#bicycleRadio").prop("checked",false);
			$("#transportRadio").prop("checked",false);
			$("#carRadio").prop("checked",true);
			$("#noneRadio").prop("checked",false);
		}
		if(id == 'noneRadio')
		{
			$("#footRadio").prop("checked",false);
			$("#bicycleRadio").prop("checked",false);
			$("#transportRadio").prop("checked",false);
			$("#carRadio").prop("checked",false);
			$("#noneRadio").prop("checked",true);
		}
		toggleImage(image);
	}

	/* Active ou désactive l'image passée en paramètre. */
	function toggleImage(image)
	{
		console.log(image.src);
		if(/nonselectionne/.test(image.src))
		{
			image.src = (image.src).replace(/nonselectionne/,'selectionne');
		}
		else
		{
			image.src = (image.src).replace(/selectionne/,'nonselectionne');
		}
	}

	function markCrit(image,P,name)
	{
		toggleImage(image);
		markCritRegistration(P,name);
	}

	function markCritRegistration(P,name)
	{
		if(P == 2)
		{
			if( (userCriteriaDeparture[name].value) == "0" )
			{
				userCriteriaDeparture[name].value = P;
				nbCriteriaSelected = nbCriteriaSelected + 1;
			}
			else
			{
				userCriteriaDeparture[name].value = "0";
				nbCriteriaSelected = nbCriteriaSelected - 1;
			}
		}
		else if(P == 3)
		{
			if( (userCriteriaTrip[name].value) == "0" )
			{
				userCriteriaTrip[name].value = P;
				nbCriteriaSelected = nbCriteriaSelected + 1;
			}
			else
			{
				userCriteriaTrip[name].value = "0";
				nbCriteriaSelected = nbCriteriaSelected - 1;
			}
		}
		else if(P == 1)
		{
			if( (userCriteriaArrival[name].value) == "0" )
			{
				userCriteriaArrival[name].value = P;
				nbCriteriaSelected = nbCriteriaSelected + 1;
			}
			else
			{
				userCriteriaArrival[name].value = "0";
				nbCriteriaSelected = nbCriteriaSelected - 1;
			}
		}

		console.log(userCriteriaDeparture[name]);
		console.log(userCriteriaTrip[name]);
		console.log(userCriteriaArrival[name]);
	}

	// Prévoir de gérer la variable diagEmpty sur cette fonction.
	function choicesCritRegistration(P,name,selectedValId,selectedValName,event)
	{
		event.preventDefault();

		if(P == 2)
		{
			userCriteriaDeparture[name].value = P + ':' + selectedValId;
		}
		else if(P == 3)
		{
			userCriteriaTrip[name].value = P + ':' + selectedValId;
		}
		else if(P == 1)
		{
			userCriteriaArrival[name].value = P + ':' + selectedValId;
		}

		document.getElementById(name+P).innerHTML = selectedValName;
	}

</script>

</html>