<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<title>Accueil</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<meta charset="utf-8" />
</head>
<body>
	<a href="/disconnect" class="btn btn-primary pull-right">Déconnexion</a>
	<h1>Bienvenue <%= user.lastname %> <%= user.firstname %> !!</h1>
	<p>
		<ul>
			Vos informations personnelles sont les suivantes:</br></br>
			<li>Nom : <%= user.lastname%> </li>
			<li>Prénom : <%= user.firstname %> </li>
			<li>Code postal : <%= user.postalcode %></li>
			<li>Téléphone : <%= user.phone %></li>
			<li>Genre : <%= user.gender %></li>
			<li>Date de naissance : <%= user.birth %></li></br>
		<ul>
	</p>
	
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	var app = angular.module("angularJsTestApp",[]);
	app.controller("controller",function($scope){

	});
</script>
</html>