<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<title>Inscription</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	body {
		font-family : 'Roboto';
	}
	input.ng-invalid {
		border : pink 3px solid;
	}

	#weverBaseline
    {
    	margin-top:10px;
    	width:193px;
    	height:auto;
    	display:inline-block;
    }
    
    #seConnecter
    {
    	margin-top:22px;
    	width:154px;
    	height:auto;
    	display:inline-block;
    	float:right;
    }

	#weverPanel
	{
		height:543px;
		background-color:#00C9FF;
		margin-top:20px;
		border-top-left-radius: 21.25px;
		border-bottom-left-radius: 21.25px;
	}

	#weverContent
	{
		height:543px;
		background-color:#ECECEC;
		margin-top:20px;
		border-bottom-right-radius: 21.25px;
		border-top-right-radius: 21.25px;
	}

	.controlText
	{
		text-align:justify;
	}

	/* Nouvelles règles si la fenêtre fait au plus 1457px de large */
	@media all and (max-width: 1457px)
	{
	    #weverPanel
	    {
	    	height : 590px;
	    }
	    #weverContent
	    {
	    	height : 590px;
	    }
	    .controlText
		{
			margin-right: +4px;
		}
	}

	/* Nouvelles règles si la fenêtre fait au plus 1349px de large */
	@media all and (max-width: 1349px)
	{
	    #weverPanel
	    {
	    	height : 613px;
	    }
	    #weverContent
	    {
	    	height : 613px;
	    }
	    .controlText
		{
			margin-right: +15px;
		}
	}

	/* Nouvelles règles si la fenêtre fait au plus 1199px de large */
	@media all and (max-width: 1199px)
	{
	    #weverPanel
	    {
	    	height : 525px;
	    }
	    #weverContent
	    {
	    	height : 525px;
	    }
	    .controlText
		{
			margin-right: -10px;
			text-justify: inter-word;
		}
	}

	/* Nouvelles règles si la fenêtre fait au plus 1119px de large */
	@media all and (max-width: 1119px)
	{
	    #weverPanel
	    {
	    	height : 545px;
	    }
	    #weverContent
	    {
	    	height : 545px;
	    }
	}

	/* Nouvelles règles si la fenêtre fait au plus 991px de large */
	@media all and (max-width: 991px)
	{
	    #weverPanel
	    {
	    	height : 615px;
	    }
	    #weverContent
	    {
	    	height : 615px;
	    }
	}

	/* Nouvelles règles si la fenêtre fait au plus 991px de large */
	@media all and (max-width: 959px)
	{
	    #weverPanel
	    {
	    	height : 655px;
	    }
	    #weverContent
	    {
	    	height : 655px;
	    }
	    .controlText
		{
			margin-right: +10px;
			text-justify: inter-word;
		}
	}

	/* Nouvelles règles si la fenêtre fait au plus 991px de large */
	@media all and (max-width: 767px)
	{
	    #weverPanel
	    {
	    	display : none;
	    }
	}

	@media all and (max-width: 376px)
	{
	    #weverBaselineImage
	    {
	    	width : 150px;
	    	height : auto;
	    }
	    #weverBaseline
	    {
	    	width : 150px;
	    	height : auto;
	    }
	    #weverSeConnecterImage
	    {
	    	float:none;
	    	width : 110px;
	    	height : auto;
	    }
	    #seConnecter
	    {
	    	width : 110px;
	    	height : auto;
	    }
	}

	</style>
</head>
<body>
	<div class="col-lg-12 col-md-12" style="height:92px;background-color:#ECECEC">
		<div id="weverBaseline">
			<img id="weverBaselineImage" src="images/weverBaseline.png" />
		</div>
		<div id="seConnecter">
			<a href="/"> <img id="weverSeConnecterImage" src="images/seConnecter.svg" /></a>
		</div>
	</div>

	<div class="col-lg-12 col-md-12" style="font-size:36px;color:#373737;height:auto;text-align:center;margin-top:20px;">Créez votre compte Wever</div>

	<div id="weverPanel" class="col-lg-offset-3 col-md-offset-2 col-sm-offset-2 col-lg-2 col-md-2 col-sm-3" >
		<img src="images/W.svg" style="display:block;margin:auto;margin-top:40px;"/>
		<div style="margin-top:65px;width:100%;text-align:center;font-size:20px;">Faisons connaissance</div>
		<div style="margin-top:25px;width:100%;text-align:center;font-size:12px;">Cela ne vous prendra que quelques secondes pour créer votre compte.</div>
	</div>
	
	<div id="weverContent" class="col-lg-4 col-md-6 col-sm-5 col-xs-12" ng-app="Login" ng-controller="controller" >
		<form id="registerForm" name="registerForm" action="/register" method="post" autocomplete="off">
			<div style="margin:auto;margin-top:38px;text-align:center;">
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-3 col-sm-3 col-xs-3 controlText">Prénom</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text" title="Champ requis" id="firstname" name="firstname" class="form-control" ng-model="firstname" required>
					</div>
				</div>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
					<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-3 col-sm-3 col-xs-3 controlText">Nom</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text" title="Champ requis" id="lastname" name="lastname" class="form-control" ng-model="lastname" required>
					</div>
				</div>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
					<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-3 col-sm-3 col-xs-3 controlText">Genre</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<a onclick="toggleImage('homme')" style="cursor:pointer;">
							<label style="color:black;">
								<input id="gender_male" type="radio" name="gender" value="male" hidden checked>
								<img id="genre_homme" src="images/homme_actif.svg">Homme
							</label>
						</a>

						<a onclick="toggleImage('femme')" style="cursor:pointer;">
							<label style="color:black;">
								<input id="gender_female" type="radio" name="gender" value="female" hidden>
								<img id="genre_femme" src="images/femme_inactive.svg">Femme
							</label>
						</a>
					</div>
				</div>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
					<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-3 col-sm-3 col-xs-3 controlText">Date&nbsp;de naissance</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text" title="Champ requis" id="userbirthdate" name="userbirthdate" class="form-control" ng-model="userbirthdate" ng-mouseleave="validBirth(userbirthdate)"><span>Au format jj/mm/aaaa</span>
					</div>
				</div>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
					<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-3 col-sm-3 col-xs-3 controlText">Email</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="email" title="Champ requis" id="usermail" name="usermail" class="form-control" ng-model="usermail" ng-mouseleave="validEmail(usermail)">
					</div>
				</div>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
					<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-3 col-sm-3 col-xs-3 controlText">Portable</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="tel" title="Champ requis" id="userPhone" name="userphone" class="form-control" ng-model="userphone" ng-mouseleave="validPhoneNumber(userphone)">
					</div>
				</div>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
					<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-3 col-sm-3 col-xs-3 controlText">Code postal</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text" title="Champ requis" id="userpostal" name="userpostal" class="form-control" ng-model="userpostal" ng-mouseleave="validPostalCode(userpostal)">
					</div>
				</div>
				<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
					<div class="col-lg-offset-2 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-2 col-md-3 col-sm-3 col-xs-3 controlText">Entreprise/ Campus</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
						<input type="text" name="enterprise" class="form-control">
					</div>
				</div>
			</div>
			<div id="cguContainer" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
				<div class="col-lg-4 col-md-3 col-sm-3 col-xs-3">
					<input type="checkbox" id="cgu" class="pull-right">
				</div>
				<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9">
					<p style="text-align:justify;text-justify: inter-word;">En cochant cette case, j'accepte et je reconnais avoir pris connaissance des <a href="#">conditions générales d'utilisation.</a></p>
				</div>
			</div>
			<div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;">
				<div class="pull-right">
					<a class="btn btn-default" href="/" style="margin-right:20px;border-radius:23px;">ANNULER</a> <a id="registerFormSubmit" class="btn btn-primary" style="border-radius:13px;">&nbsp;&nbsp;CREER&nbsp;&nbsp;</a>
				</div>
			</div>


		<!--
		<form name="registerForm" action="/register" method="post">
			<input type="text" name="firstname" ng-model="firstname"><span ng-show="!firstname"> *Un prénom est recquis</span></br>
			<input type="text" name="lastname" ng-model="lastname"><span ng-show="!lastname"> *Un nom est recquis</span></br>
			<input type="email" name="usermail" ng-model="usermail"><span ng-show="!validEmail(usermail)"> *Un email valide est recquis</span></br>
			<input type="tel" name="userphone" ng-model="userphone"><span ng-show="!validPhoneNumber(userphone)"> *Un numéro de téléphone valide est recquis</span></br>
			<input type="text" name="userbirthdate" ng-model="userbirthdate"><span ng-show="!validBirth(userbirthdate)"> *Une date au format dd-mm-aaaa est requise</span></br>
			<input type="text" name="userpostal" ng-model="userpostal"><span ng-show="!validPostalCode(userpostal)"> *Un code postal français valide est recquis.</span></br>
			<span>Sexe : </span>
			<input type="radio" name="gender" value="female" checked> Female
			<input type="radio" name="gender" value="male"> Male
		</br>
			<input type="submit" ng-disabled="!firstname || !lastname || !validPhoneNumber(userphone) || !validEmail(usermail) || !validBirth(userbirthdate) || !validPostalCode(userpostal)" class="pull-right" value="S' enregistrer"></input>
		-->
		</form>
	</div>

	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border-top:1px solid #ECECEC;margin-top:21px;">
		<div style="display:inline-block;width:139px;height:auto;">
			<img src="images/wever.svg" height="40"/>
		</div>

		<div style="display:inline-block;margin-right:20px;vertical-align:bottom;">
			<a href="#" style="text-decoration:none;color:black;">Confidentialité et conditions d'utilisation.</a>
		</div>

		<div style="display:inline-block;margin-right:20px;vertical-align:bottom;">
			<a href="#" style="text-decoration:none;color:black;">Aide</a>
		</div>
	</div>

</body>
<script>

	var app = angular.module("Login",[]);
	app.controller("controller",function($scope){

		$scope.validPhoneNumber = function(phoneNumber)
		{
			var result = /^\d{5}\d{5}$/.test(phoneNumber);
			console.log(result);
			if(!result)
			{
				validNumber = false;
				$("#userPhone").css("border","pink 3px solid");
			}
			else
			{
				validNumber = true;
				$("#userPhone").css("border","");
			}
			return result;
		}

		$scope.validEmail = function(emailAddress)
		{
			var result = /^[a-z0-9._-]+@[a-z0-9_-]+\.\w{2,6}$/.test(emailAddress);
			if(!result)
			{
				validEmail = false;
				$("#usermail").css("border","pink 3px solid");
			}
			else
			{
				validEmail = true;
				$("#usermail").css("border","");
			}
			return result;
		}

		$scope.validBirth = function(birthDate)
		{
			var result = /^\d{2}\/\d{2}\/\d{4}$/.test(birthDate);
			if(!result)
			{
				validBirth = false;
				$("#userbirthdate").css("border","pink 3px solid");
			}
			else
			{
				validBirth = true;
				$("#userbirthdate").css("border","");
			}
			return result;
		}

		$scope.validPostalCode = function(postalCode)
		{
			var result = /^\d{5}$/.test(postalCode);
			if(!result)
			{
				validPostal = false;
				$("#userpostal").css("border","pink 3px solid");
			}
			else
			{
				validPostal = true;
				$("#userpostal").css("border","");
			}
			return result;
		}
	});


	var validBirth = false;
	var validEmail = false;
	var validNumber = false;
	var validPostal = false;

	function toggleImage(sexe)
	{
		var genreHomme = document.getElementById("genre_homme");
		var genreFemme = document.getElementById("genre_femme");

		if(sexe == "homme")
		{
			$("#gender_male").prop("checked",true);
			$("#gender_female").prop("checked",false);
			if( /homme_inactif.svg$/.test(genreHomme.src))
			{
				genreHomme.src = "images/homme_actif.svg"	;
				genreFemme.src = "images/femme_inactive.svg" ;
			}
		}
		else if(sexe == "femme")
		{
			$("#gender_female").prop("checked",true);
			$("#gender_male").prop("checked",false);
			if( /femme_inactive.svg$/.test(genreFemme.src))
			{
				genreFemme.src = "images/femme_active.svg"	;
				genreHomme.src = "images/homme_inactif.svg" ;
			}
		}

	}

	$("#registerFormSubmit").click(function(){
		if($("#lastname").val().length > 0 && $("#firstname").val().length > 0 && validBirth && validEmail && validNumber && validPostal)
		{
			if($("#cgu").prop("checked"))
			{
				document.getElementById("registerForm").submit();
			}
			else
			{
				$("#cgu").focus();
			}
		}
	});
</script>
</html>